a
        {
            text-decoration: none;
        }
        ul
        {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        .side
        {
            width: 150px;
            margin: 20px;
        }
        .menu a
        {
            background-color: rgb(52, 153, 236);
            color: white;
            padding: 10px;
            display: block;
            border-bottom: 1px solid rgb(108, 86, 233);
            transition: 1s all;
        }
        .menu a:hover
        {
            background-color: rgb(75, 64, 231);
            padding: 10px 1px 10px 20px;
        }
        .menu__list
        {
            position: relative;
        }
        .menu_drop
        {
            position: absolute;
            width: 100%;
            left: 100%;
            opacity: 0;
            top: 0;
        }
        .menu__list:hover .menu_drop
        {
            opacity: 1;
            transition: 4s;
        }