body
        {
            height: 100px;
        }
        table
        {
            counter-reset:count 65;
            border-collapse: collapse;
            border: black solid 2px;
        }
        td
        {
            width: 80px;
            height: 80px;
            counter-increment:count -1;
            text-align: center;
        }
        td::before
        {
            content: counter(count);
        }
        tr:nth-child(odd) td:nth-child(odd)
        {
            background-color: black;
            color: white;
        }
        tr:nth-child(even) td:nth-child(even)
        {
            background-color: black;
            color: white;
        }