table
{
  border-collapse: collapse;
  border: 3px solid;
  border-color: rgb(143, 127, 130);
}
th
{
    border: 2px solid white;
    background-color: rgb(243, 184, 184);
}
td
{
    border-right-style: dotted;
    border-bottom-style: dotted;
}
tr:nth-child(2n+1)
{
     background-color: rgb(79, 233, 148);
}
tr:nth-child(1n+1):hover
{
    background-color: rgb(142, 180, 236);
}
tr:nth-child(2n+1):hover
{
    background-color: rgb(160, 243, 6);
}
tr:nth-child(3n+1):hover
{
    background-color: rgb(17, 163, 231);
}
tr:nth-child(4n+1):hover
{
    background-color: rgb(143, 12, 77);
}