.first
        {
            width: 80%;
            padding: 2em;
            background-color: #ccc;
            border-radius: 25px;
            background-image: url(img/t-l.gif), url(img/t-r.gif), url(img/b-r.gif), url(img/b-l.gif), url(img/l.gif), url(img/r.gif), url(img/t.gif), url(img/t.gif);
            background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-y, repeat-y, repeat-x, repeat-x;
            background-position: top left, top right, bottom right, bottom left, left, right, top, bottom;
        }
        .second
        {
            width: 20%;
            padding: 3em;
            background-color: #ccc;
            background: 
            url(img1/l-t.png) no-repeat top left, 
            url(img1/r-t.png) no-repeat top right, 
            url(img1/r-b.png) no-repeat bottom right, 
            url(img1/l-b.png) no-repeat bottom left,
            url(img1/l.png) repeat-y left, 
            url(img1/r.png) repeat-y right, 
            url(img1/t.png) repeat-x top,
            url(img1/b.png) repeat-x bottom;
        }
        .third
        {
            border-style: solid; border-width: 3em; width: 40%;
            border-image-source: url(img1/cvet.jpg);
            border-image-slice: 90;
            border-image-repeat: round;
            border-image-width: auto;
            padding: 3em;
        }